body,canvas,div,h1,h2,h3,h4,h5{
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
}
body{
   background: #fff;
}
.container{
  width: auto;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.container::after{
  clear: both;
}
.container div.info{
  text-align: center;
  color: #333;
  font-size: 1rem;
  margin-top: .2rem;
  position: relative;
  z-index: 1;
}
div.info h3{
   color: #999;
   font-size: 2rem;
   margin-top: .3rem;
   
}
div.info h3 span{
  vertical-align: middle;
}
div.info h3 span.score{
  font-size: 3rem;
  color: #0094ff;
  margin-left: .2rem;
}
.container canvas,div.img_container{
	position: absolute;
	top: 7rem;
	left: 1rem;
  box-sizing: border-box;
}
div.modale{
  position: absolute;
  color: #3f0;
  z-index: 10000;
  text-align: center;
  background-color: blue;
}
div.modale h1{
  font-size: 2rem;
  margin-top: 1rem;
}
div.close{
  position: absolute;
  right: -1rem;
  top: -1rem;
  background: #fff;
  color: #999;
  font-size: 3rem;
  line-height: 3rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
}
div.content{
  margin-top: 1rem;
}
div.content span.active{
  
  background: #fff;
  color: #333;
}
div.content span.active:before{
  content: '';
  position: absolute;
  top: -.4rem;
  left: -.9rem;
  border-bottom: 2rem solid #fff;
  border-left: 1rem dotted transparent;
  border-right: 1rem dotted transparent;
  border-top: 1rem dotted transparent;
}
div.content span.active:after{
  content: '';
  position: absolute;
  top: -.4rem;
  right: -.9rem;
  border-bottom: 2rem solid #fff;
  border-left: 1rem dotted transparent;
  border-right: 1rem dotted transparent;
  border-top: 1rem dotted transparent;
}
div.content span{
  display: inline-block;
  padding: .8rem 1.2rem;
  position: relative;
  margin-bottom: -.5rem;
}
div.modale h2{
  padding-left: 5rem;
  margin-top: .5rem;
  font-size: 1rem;
}
.container canvas{
  z-index: 0;
}
div.img_container{
  z-index: -2;
}
.img_body{
   
   position: absolute;
   width: 120px;
   height: 90px;
}
.img{
  background: url("./imgs/bianbian.gif") no-repeat;
  background-size: contain;
}
.imgwin{
  background: url("./imgs/bianwin.gif") no-repeat;
  background-size: contain;
}
.imgyun{
  background: url("./imgs/bianyun.gif") no-repeat;
  background-size: contain;
}
.start{
  background: #0094ff;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
 font-size: 3rem;
  text-align: center;  
  transition: background 2s ease-in-out,opacity 2s ease-in-out;
  color: #ccc;
}
.start h1{
  margin-top: 20rem;
  margin-bottom: 3rem;
  color: #ddd;
}
.start button{
  outline: none;
   font-size: 2rem;
   margin-top: 1rem;
   border:.3rem solid blue;
   border-bottom: .7rem solid blue;
   background-color: transparent;
   text-shadow: .1rem .5rem .2rem #333;
   box-shadow: 0 .3rem .5rem blue;
   padding: 1rem;
   color: #fff;
   transition: transform 80ms ease-in-out,opacity 2s ease-in-out;
}
.start button:hover{
  border-bottom: .3rem solid blue;
  transform: translateY(.4rem);
}
@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.swing {
  transform-origin: top center;
  animation-name: swing;
  animation-duration: 1.2s;
  animation-fill-mode: both;  
}
